/* Larger than Desktop HD */
@media (max-width: 1200px)
  .hero-unit,
  .hero-unit .caption
    height: 500px
    min-height: 500px

/* Larger than desktop */
@media (max-width: 1000px)
  .hero-unit,
  .hero-unit .caption
    height: 400px
    min-height: 400px

  .hero-unit .caption .text h1
    font-size: 3em

  .hero-unit .caption .text p
    font-size: 1.6em

  .hero-unit .caption .text h5
    font-size: 1.3em

  .hero-unit .caption .text h5 i
    top: 10px

// /* Larger than tablet */
@media (max-width: 750px)
  .hero-unit,
  .hero-unit .caption
    height: 300px
    min-height: 300px

@media (max-width: 650px)
  .hero-unit .caption .text h1
    font-size: 2.5em

  .hero-unit .caption .text p
    font-size: 1.6em


// /* Larger than mobile */
// @media (max-width: 400px) {}
//
// /* Larger than phablet (also point when grid becomes active) */
// @media (max-width: 550px) {}
//
// /* Larger than tablet */
// @media (max-width: 750px) {}
//
// /* Larger than Desktop HD */
// @media (max-width: 1200px) {}
